/** ABOUT DEFAULT STYLES
---------------------------------
*  default.css is used to establish general rules, browser reset, or Admin User interface Styles

   BROWSER RESET
---------------------------------
*  For a more complete reset, go to http://developer.yahoo.com/yui/reset/
*/

* { margin: 0; padding: 0; }

/** Clear Floats Without Structural Markup: 
---------------------------------
*  http://www.positioniseverything.net/easyclearing.html
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* clear classes */

.clearleft, .clearl, .cleft { clear: left; }
.clearright, .clearr, .cright { clear: right; }
.clear, .clearboth, .clearall{ clear: both; }

/* Float classes */

.floatleft, .fleft, .floatl { float: left; margin: 0 10px 5px 0; }
.floatright, .fright, .floatr { float: right; margin: 0 0 5px 10px; }

/** "Skip to Main Content" link
---------------------------------
*  This link useful for both visually impaired people and those with mobility impairments
*  who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/
*/

#skip a, #skip a:hover, #skip a:visited {
  position: absolute;
  left:-10000px;
  top:auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* bug fix with views 2 edit links */

div.view div.views-admin-links {
	width:auto;
}

/** Rollover edit links for blocks */

div.block {
  position: relative;
}
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height:16px;
  background-color: #fff;
  border:1px solid #ccc;
  /*let's get fancy !*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888;
  -webkit-box-shadow: -1px 1px 2px #666;
}
div.block .edit a {
  display:block;
  border:0;
  padding:0;
  margin:0;
}
div.block:hover .edit {
  display: block;
}

/** IMCE styling
---------------------------------
*  cred to mikethecoder.com */


/* Remove IMCE's log display. */

body.imce #log-wrapper {
  display: none;
}

body.imce #log-prv-wrapper #log-resizer.x-resizer {
  display: none;
}

body.imce #log-clearer {
  display: none !important;
}

/* Remove IMCE's display navigation */
body.imce #navigation-wrapper {
  display:none;
}

body.imce .x-resizer {
  display: none;
}
body.imce .y-resizer {
  height: 6px;
  background-color: white;
}
body.imce #log-prv-wrapper {
  border: none;
  background-color: #EBEBEB;
}
body.imce #browse-wrapper {
  border: none;

}
body.imce table#file-header td:hover,
body.imce table#file-header td.asc,
body.imce table#file-header td.desc {
  cursor: pointer;
  text-decoration: underline;
  color: #027AC6;
}
body.imce table#file-header td {
  color: #027AC6;
}

body.imce ul.secondary li {
  border: none;
}

body.imce #file-list tr:hover,
body.imce tr.highlight {
  background-color: #FFFFCC;
}

body.imce tr.selected td {
  background-color: #fffaad;
}

body.imce table#file-list {
  border-top: 2px solid #C0C0C0;
}

body.imce table.files td {
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  cursor: pointer;
}

body.imce a,
body.imce div {
  outline:none;
}

body.imce ul.secondary li {
  margin:0 0.4em;
  padding: 0px;
}

body.imce #ops-wrapper {
  background: transparent;
  border: none;
  margin-bottom: 20px;
}

body.imce ul#ops-list li a,
body.imce ul#ops-list li a:hover,
body.imce ul#ops-list li a:link,
body.imce ul#ops-list li a:visited,
body.imce ul#ops-list li a:active {
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  background:url("images/sprites.png") repeat-x scroll 0 -1069px transparent;
  cursor:pointer;
  padding:5px 10px;
  color:#000000;
  font:12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
  text-align:left;
  text-decoration:none;
  white-space:nowrap;
  width:auto;
  vertical-align:baseline;
  height:auto;
  margin:0 15px 0 0;
  border-collapse:collapse;
  border:0 none;
}

body.imce ul#ops-list li#op-item-delete a,
body.imce ul#ops-list li#op-item-delete a:hover,
body.imce ul#ops-list li#op-item-delete a:link,
body.imce ul#ops-list li#op-item-delete a:visited,
body.imce ul#ops-list li#op-item-delete a:active {
  background:url("images/sprites.png") repeat-x scroll 0 -1106px transparent;
}

body.imce ul#ops-list li#op-item-sendto a:link,
body.imce ul#ops-list li#op-item-sendto a:visited {background-position:0 -1143px;}


body.imce ul#ops-list li a:hover,
body.imce ul#ops-list li#op-item-sendto a:hover,
body.imce ul#ops-list li#op-item-delete a:hover {
  background-position:0 -1181px;
}

/** WIREFRAMES STYLE
------------------------------------*/

.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top>*,
.wireframe-mode #content-header,
.wireframe-mode #content-header>*,
.wireframe-mode #content-area,
.wireframe-mode #content-area>*,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom>*,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block{
  padding: 2px;
  border: 1px solid #bbb;
}
.wireframe-mode .node {
  border-bottom: 1px solid #bbb;
  margin-bottom:10px;
}
.wireframe-mode .block {
  margin-bottom:3px;
}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin:0 3px 3px;
}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #ccc;
}
.wireframe-mode.with-navigation #content, 
.wireframe-mode.with-navigation .sidebar  {
  margin-top:50px;
}
.wireframe-mode #navigation {
  height:50px;
}